.contenedor {
    background-color: #E6EAFF; 
    padding: 1rem; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}

button {
    border: 1px solid rgba(0,0,0,0.5);
}

.entrada {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}

input[type="text"] {
    border-radius: 0.3rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid rgba(0,0,0,0.5);
}

/*TRANSICION SUAVE ENTRE CAMBIOS DE COLOR*/

.contenedor {
  transition: background-color 0.5s ease;
}